@import '../variables';

.header {
  border-bottom: 1px solid $gray-line;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 645px) {
      flex-direction: column;

      .header__cart {
        margin-top: 20px;
      }
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    img {
      padding: 10px;
    }
  }
}
